/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

/* GENERAL */
 * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 1px 1px black;
}

body, html {
  margin: 0;
  background-color: #2B2733;
  margin-bottom: 50px;
}

/* MAIN STRUCTURE FOR PAGE */
header {
  background-color: #46424D;
  color: white;
  text-align: center;
  height: 10%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

section {
  width: 70%;
  padding-left: 40px;
}

aside {
  border-left: 3px solid #46424D;
  padding-left: 30;
  width: 30%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

form {
  height: 57%;
  background-color: #46424D;
  margin-right: 38px;
  padding: 70px 134px;
}

/* INPUT PAGE */
input {
  width: 100%;
  outline: none;
  background: #46424D;
  border: transparent;
  border-bottom: 2px solid white;
}

.time-input {
  width: 40%;
}

label {
background-color: #46424D;
border-radius: 3px;
width: 24%;
flex-direction: column-reverse;
display: flex;
border: 1px solid white;
justify-content: center;
align-items: center;
}

button {
  background-color: #46424D;
  border: 1px solid white;
  border-radius: 5px;
  height: 80%;
  width: 25%;
  outline: none;
}

.main {
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  max-height: 400px;
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 1em;
}

h2 {
  color: white;
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 5.5em;
  margin: 0;
  font-weight: 900;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  text-align: center;
  line-height: 1.7;
  margin-top: 35px;
}

.capitalize {
    text-transform: capitalize;
}

/* FILLING OUT ACTIVITY FORM SECTION */
.button-container {
  /* margin-bottom: 10%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.go-button {
  height: 9%;
  width: 35%;
  font-size: 1em;
  background-color: white;
  color: #46424D;
  font-weight: normal;
  float: right;
  text-shadow: none;
}

.create-new-activity {
  width: 40%;
}

#study{
  display: none;
}

#study:checked + label {
  border-color: #B3FD78;
  color: #B3FD78;
}

#meditate{
  display: none;
}

#meditate:checked + label {
  border-color: #C278FD;
  color: #C278FD;
}

#exercise{
  display: none;
}

#exercise:checked + label {
  border-color: #FD8078;
  color: #FD8078;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.goal {
  width: 60%;
}

img {
  height: 26%;
  width: 26%;
}

/* ERRORS */
.error {
  text-align: left;
  margin-top: 2%;
}

#category-error,
#description-error {
  width: 100%;
}

#category-error {
  margin-bottom: 30px;
}

#description-error {
  margin-bottom: 20px;
}

#seconds-error {
  margin-bottom: 40px;
}

/* TIMER FORM STYLING */

.timer-style {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.new-task-input {
  font-size: 2em;
  margin: 0;
}

.log-activity {
  margin-top: 5%;
  width: 35%;
}

.study {
  color: #B3FD78;
}

.meditate {
  color: #C278FD;
}

.exercise {
  color: #FD8078;
}

.start-button {
  font-size: 30px;
  border-radius: 50%;
  border: 7px solid;
  height: 300px;
  width: 300px;
}

/* PAST ACTIVITIES TINY CARD */
.past-activities-card {
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #46424D;
    width: 85%;
    height: 80px;
}

.past-activities-card-title {
  padding-top: 10px;
  margin-bottom: 0;
  font-weight: bolder;
}

.past-activities-card-min-sec {
  padding-bottom: 5px;
}

.past-activities-card-description {
  margin-top: 3%;
  margin-bottom: 3%;
}

.past-activities-colorizer-container {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.past-activities-colorizer {
  height: 5px;
  width: 30px;
  border: none;
  transform: rotate(90deg);
}

.study-past {
  background-color: #B3FD78;
}

.meditate-past {
  background-color: #C278FD;
}

.exercise-past {
  background-color: #FD8078;
}

/* CARLTON */
.carlton {
  height: 130%;
}
.carlton-div {
  margin-top: 60px;
  justify-content: center;
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

/* HIDING CLASSES */
.disabled {
  background: #6f697a;
  cursor: not-allowed;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.hide {
  visibility:hidden;
}
